@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/* ========================== ADD LAYERS FOR Z INDEX ====================== */
html {
  background-color: #222222;
  scroll-behavior: smooth;
}

main, #MainGrid {
  margin: auto;
}

#MainGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1rem 1fr 2fr 2fr 1fr 1rem;
  grid-template-columns: 1rem 1fr 2fr 2fr 1fr 1rem;
  -ms-grid-rows: auto 100vh auto auto;
  grid-template-rows: auto 100vh auto auto;
}

#MainGrid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#MainGrid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

#MainGrid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#MainGrid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

#MainGrid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

#MainGrid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

#MainGrid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

#MainGrid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

#MainGrid > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

#MainGrid > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

#MainGrid > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

#MainGrid > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

#MainGrid > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#MainGrid > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

#MainGrid > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

#MainGrid > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

#MainGrid > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

#MainGrid > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

#MainGrid > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

#MainGrid > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

#MainGrid > *:nth-child(21) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

#MainGrid > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

#MainGrid > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

#MainGrid > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}
main .sectionMedia {
  margin: 25rem 16.66%;
  /*overflow: hidden;*/
  padding: 0.02px;
}
main .sectionText {
  margin: 0 16.66%;
}

body, input, select, textarea {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16.5pt;
  font-weight: 300;
  line-height: 1.65;
  /*
  @include breakpoint('<=xlarge') {
  	font-size: 13pt;
  }

  @include breakpoint('<=large') {
  	font-size: 12pt;
  }

  @include breakpoint('<=medium') {
  	font-size: 12pt;
  }

  @include breakpoint('<=small') {
  	font-size: 12pt;
  }

  @include breakpoint('<=xsmall') {
  	font-size: 12pt;
  }*/
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin: 2em 0 1em 0;
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 0.7em;
}

h5 {
  font-size: 0.7em;
}

h6 {
  font-size: 0.7em;
}

#landingArea {
  height: 100vh;
}
#landingArea .row {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
#landingArea .col-50 {
  width: 50%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#landingArea #landingText {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 150%;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
  padding-right: 0.5rem;
}

.fa-chevron-down {
  position: absolute;
  bottom: 2rem;
  left: 50vw;
  color: #ffffff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 1rem;
  margin: -1rem;
}
.fa-chevron-down:hover {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

#threeModel {
  z-index: -10;
  display: block;
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.waves {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.cursor {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.projRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.projRow:nth-child(even) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.projRow:not(:last-child) {
  margin-bottom: 10rem;
}
.projRow .projPanel {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.projRow .projPanel h2 {
  position: absolute;
  bottom: 0;
  left: -4rem;
  margin: 0;
  font-size: 4em;
  z-index: 150;
  color: #ffffff;
  /* TODO: wrap */
}
.projRow .projPanel:hover h2::after {
  width: 120%;
}
.projRow .projPanel:hover img {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.projRow .projPanel h2::after {
  content: "";
  position: absolute;
  background-color: #228C8C;
  left: -10%;
  top: -5%;
  width: 0%;
  height: 110%;
  z-index: -1;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.projRow .projPanel img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.projRow .projPanel h3 {
  position: absolute;
  left: -3rem;
  top: 0;
  margin: 0;
  -webkit-transform: rotate(270deg) translate(-100%, 0);
      -ms-transform: rotate(270deg) translate(-100%, 0);
          transform: rotate(270deg) translate(-100%, 0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  font-weight: 300;
}

header {
  z-index: 250;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */
}
header nav {
  width: 100%;
}
header ul {
  margin: 0;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header li {
  display: inline-block;
  vertical-align: middle;
  z-index: 250;
}
header .menuCont {
  cursor: pointer;
}
header .bar1, header .bar2, header .bar3 {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
header .change .bar1 {
  /*-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;*/
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
      -ms-transform: rotate(-45deg) translate(-5px, 4px);
          transform: rotate(-45deg) translate(-5px, 4px);
}
header .change .bar2 {
  opacity: 0;
}
header .change .bar3 {
  /*-webkit-transform: rotate(45deg) translate(-8px, -8px) ;*/
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
      -ms-transform: rotate(45deg) translate(-7px, -7px);
          transform: rotate(45deg) translate(-7px, -7px);
}
header i {
  color: #ffffff;
}

footer {
  z-index: 10;
  width: 100%;
  padding: 1rem 8rem 7rem 8rem;
  background-color: rgba(0, 0, 0, 0.55);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}
footer * {
  z-index: 11;
}
footer .getInTouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .getInTouch h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -webkit-box-flex: 38;
      -ms-flex-positive: 38;
          flex-grow: 38;
  padding: 0 4rem 0 0;
  margin: 0;
}
footer .getInTouch ul.icons {
  -webkit-box-flex: 62;
      -ms-flex-positive: 62;
          flex-grow: 62;
  margin: 0;
  padding: 0;
  padding-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .getInTouch ul.icons a {
  color: #ffffff;
}
footer .getInTouch ul.icons li {
  display: inline-block;
  vertical-align: middle;
  z-index: 250;
}
footer .getInTouch ul.icons li i {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
footer .getInTouch ul.icons li i:hover {
  -webkit-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}