footer {
	//________________________________________________________ General
	width: 100vw;
	margin-left: -#{_grid(content-margin)};
	margin-right: -#{_grid(content-margin)};
	padding: 0 #{_grid(content-margin)};


	@include md {
		width: 100%;
		padding: 1rem 3rem 2rem 3rem;
		margin: 0;
	}

	@include lg {
		padding: 6rem 8rem 4rem 8rem;
	}

	background-color: rgba(0,0,0,0.55);
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;

	gap: 3rem;

	* {
		z-index:11;
	}

	@include xxl {
		padding-left: 15%;
	}

	hr {
		width: 40rem;
	}

	.js-emaillink {
		visibility:hidden;
		opacity: 0;
		position: absolute;
	}

	ul.icons {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		gap: 5rem;

		a {
			color: _colour(white);
		}

		li {

				display: inline-block;
				vertical-align: middle;
				z-index: 250;

				i {
					transition: .2s;

					&:hover {
						transform: scale(1.15, 1.15);
					}

					&:active {
						transform: scale(1, 1);
					}
				}
		}

		div.emailContainer {
			position: relative;
		}
		
		div#emailOverlay {
			margin: 0;
			position: absolute;
			//bottom: -1rem;
			bottom: -4.2rem;
			left: 0rem;
			//left: 50%;
			//transform: translateX(-50%);

			padding: 3rem 2rem 2rem .6rem;

			//background-color: rgba(red, .5);

			transition: .2s;
			opacity: 1;
			visibility: visible;

			z-index: -10;

			text-align: center;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			&.hide {
				visibility: hidden;
				  opacity: 0;
			}

			i {
				transition: .2s;
				cursor: pointer;
				
				&:hover {
					transform: scale(1.15, 1.15);
				}

				&:active {
					transform: scale(1, 1);
				}
			}
		}
	}

	.footerEnd {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: space-between;
	}

	a {
		@include inTextLink;
	}
}

#copyConfirm {
	position:absolute;
	margin-left: 1.5rem;
	margin-top: .5rem;
	z-index: 500;
	background-color: rgba(white, .2);
	backdrop-filter: blur(10px);
	padding: .2rem 1rem;

	display: block;
	//opacity: 1;
	//visibility: visible;

	&.hidden {
		//visibility: hidden;
		//opacity: 0;
		display: none;
	}
}