@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Vollkorn:wght@400&display=swap');

html {
  font-size: .8rem;
}

@media (min-width: 1200px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 1.4rem;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
}

main {
  margin: 0;
  padding: 1.4rem 2.9rem 0 2.9rem;
  z-index: 1;
  position: relative;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 1.75em;
  color: #003734;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: #006a65;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #05837c;
}

.img-fullscreen-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.img-fullscreen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}

section#landing {
  width: 100%;
  min-height: calc(100vh - 4.3rem);
  color: #003734;
}

section#landing > .row {
  justify-content: space-between;
  flex-direction: column;
  gap: 1.4rem;
}

section#landing img {
  max-height: 50vh;
  max-width: 100%;
}

section#features {
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
  font-size: 1.25em;
}

section#features .row {
  gap: 2.9rem;
}

section#features .column {
  flex: 1;
  align-items: center;
  text-align: center;
}

section#features img {
  max-width: 80%;
  height: 10rem;
}

section#features h3 {
  height: 4.3rem;
  margin-top: 2.9rem;
  font-weight: 700;
}

section#features p {
  margin-top: 0;
}

section#documents {
  padding: 4.3rem 5.7rem 0 5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.7rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.hero {
  font-weight: bold;
  font-size: 3.5em;
}

.hero-sub {
  font-weight: 500;
  font-size: 1.75em;
  padding-bottom: 1rem;
}

.hero-wrapper {
  align-items: center;
}

.hero-wrapper > * {
  margin-bottom: 1.6rem;
}

.hero-button {
  background-color: #006a65;
  color: white;
  padding: 0.7rem 1.4rem;
  border-radius: 7.1rem;
  font-weight: normal;
  text-decoration: none;
  font-size: 1.25em;
}

.hero-button:hover {
  background-color: #05837c;
  color: white;
}

.hero-wrapper > h1 {
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.gap {
  gap: 1.5rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.glass-container {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 34.3px 34.3px 0 0;
  padding: 1.4rem;
  color: #003734;
  margin-top: 3.6rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

li {
  margin-bottom: 0.4rem;
}



@media (max-width: 1200px) {
  section#features .row {
    flex-direction: column;
    gap: 6rem;
  }
}

@media (min-width: 1200px) {
  .hero-wrapper {
    max-width: 40%;
  }

  main {
    padding: 4.3rem 14.3rem 0 14.3rem;
  }

  section#landing > .row {
    flex-direction: row;
  }

  .hero-wrapper {
    align-items: start;
  }

  section#landing img {
    max-height: 60vh;
    max-width: 100%;
  }

  ul {
    flex-direction: row;
  }
}

@media (min-width: 1800px) {
  .hero-wrapper {
    max-width: 45%;
  }

  main {
    padding: 7.1rem 15.7rem 0 15.7rem;
  }

  section#landing img {
    max-height: 70vh;
    max-width: 100%;
  }
}

@media (min-width: 2200px) {
  section#landing img {
    max-height: 80vh;
  }

  main {
    padding: 4.3rem 17.1rem 0 17.1rem;
  }

  .hero-wrapper {
    max-width: 40%;
  }
}

