@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Vollkorn:wght@400&display=swap');

html {
  font-size: .5rem;
}

@media (min-width: 1200px) {
  html {
    font-size: .7rem;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: .8rem;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 1rem;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  background-color: white;
}

main {
  margin: 0;
  padding: 2rem 4rem;
  z-index: 1;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  color: #003734;
}

a {
  color: #006a65;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #05837c;
}

.img-fullscreen {
  width: 100%;
  position: absolute;
  top: 0;
  z-index:0;
  vertical-align: top;
  height: 180%;
  object-fit: cover;
  object-position: right top;
}


section#landing {
  width: 100%;
  min-height: calc(100vh - 6rem);
  color: #003734;
}

section#landing > .row {
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

section#landing img {
  max-height: 50vh;
  max-width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.hero {
  font-weight: bold;
  font-size: 5rem;
}

.hero-sub {
  font-size: 2rem;
  font-weight: 500;
}

.hero-wrapper {
  align-items: center;
}

.hero-wrapper > * {
  margin-bottom: 2.25rem;
}

.hero-button {
  background-color: #006a65;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.hero-button:hover {
  background-color: #05837c;
  color: white;
}

.hero-wrapper > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.gap {
  gap: 1rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.glass-container {
  font-size: 2rem;

   /* Background and blur effect */
   background: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
   backdrop-filter: blur(14px); /* Blurs the background behind the div */
   -webkit-backdrop-filter: blur(14px); /* Safari support */
   
   /* Border and shadow */
   border-radius: 15px; /* Rounded corners */
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
   
   /* Padding and dimensions */
   padding: 2rem;

   color: #003734;

   margin-top: 5rem;
}

@media (min-width: 1200px) {
  .hero-wrapper{
    max-width: 40%;
  }

  main {
    padding: 6rem 20rem;
  }

  section#landing > .row {
    flex-direction: row;
  }

  .hero-wrapper {
    align-items: start;
  }

  section#landing img {
    max-height: 60vh;
    max-width: 100%;
  }

  .glass-container {
    padding: 4rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
}

@media (min-width: 1800px) {
  .hero-wrapper{
    max-width: 45%;
  }

  main {
    padding: 10rem 22rem;
  }

  section#landing img {
    max-height: 70vh;
    max-width: 100%;
  }
}

@media (min-width: 2200px) {
  section#landing img {
    max-height: 80vh;
  }

  main {
    padding: 6rem 24rem;
  }

  .hero-wrapper{
    max-width: 40%;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

li {
  margin-bottom: 0.5rem;
}
