#OverlayMenu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#444,.7);
    overflow: hidden;
    user-select: none;

    transition: .4s;

    white-space: nowrap;
    backdrop-filter: blur(15px);

    #MenuContent {
        flex-direction: column;
        background-color: _colour(bg);
        //padding: 40vw;
        padding: 2rem;


        @include md {
            padding: 5rem;
	    }

        transition: .4s;

        > a{
            color: _colour(white);
            font-weight: _font(weight-bold);

            &:not(:first-of-type) {
                margin-top: 1rem;
            }
        }

        > ul {
            flex-direction: column;
            background-color: _colour(bg);
            //padding: 40vw;
            padding: 2rem;


            a {
                font-weight: _font(weight-light);
                color: _colour(white);

                &:not(:first-of-type) {
                    margin-top: 1rem;
                }
            }
        }

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
        width: 100%;
    }

    &:not(.hidden) {
        visibility: visible;
        width: 100%;
        opacity: 1;

        > #MenuContent {
            padding: 6rem;

            @include md {
                padding: 10rem;
            }
        }
    }
}

#Content {
    transition: 1s;

    /*
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);*/

    &.blur {
        //Add Blur
        //filter: blur(20px) !important;

        //margin-left: -8px;
        //margin-top: -8px;
    }
}