#projContent {
	margin: 12rem 0 10rem 0;

	//____________________________________ YT
	.auto-resizable-iframe {
	  max-width: calc(100% + 2rem);
	  margin: 4rem -1rem 0px -1rem;


	  @include lg {
	  	max-width: 100%;
	  	margin: 0 auto;
		padding: 2rem 0;
	  }
	}

	.auto-resizable-iframe > div {
	  position: relative;
	  padding-bottom: 56.25%;
	  width: 100%;
	  height: 0px;
	}

	.auto-resizable-iframe iframe {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  width: 100%;
	  height: 100%;
	  border: 0;
	}
}