#threeModel, .cropCanvas, #landingModelImage {
	z-index: -10;
	display: block;

	width: 100vw;
	height: 80vh;

	

	overflow: hidden !important;

	@include xl {
		width: 50vw;
		height: 100vh;
	}
	
	&:not(.inText) {
		position: absolute;
		right: 0;

		@include xl {
			&:not(img) {
				width: 100vw;
			}
			&#landingModelImage{
				left: 50vw;
				top: 50vh;
			}
			left: 25vw;
			right: 0;
			top: 0;
		}
	}

	&.inText {
		width: 100%;
		&.hololens {
			height: 24rem;

			@include md {
				height: 30rem;
			}

			@include lg {
				height: 36rem;
			}

			@include xl {
				height: 38rem;
			}

			@include xxxl {
				height: 42rem;
			}
		}

		&:not(.hololens){
			height: 32rem;

			@include sm {
				height: 40rem;
			}
	
			@include md {
				height: 60rem;
				position: relative;
				left: 2rem;
			}
	
			@include lg {
				max-width: 35rem;
			}
				
	
			@include xxl {
				height: 65rem;
			}
		}
	}
}

#landingModelImage {
	height: auto;
	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin fullscreen {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

.waves {
	@include fullscreen;
	z-index: -20;
}

.cursor {
	@include fullscreen;
	z-index: 1;
}

#spinner {
	position: absolute;
	top: calc(40% - 30px);
	left: calc(50% - 30px);
	transform: translate(calc(-50% + 30px), calc(-50% + 30px));
	border: 5px solid #b9b9b9; /* Light grey */
	border-top: 5px solid #347fb0; /* Blue */
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
	z-index: 1000; /* Ensure it's above other elements */
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}