//_____________________________________________ Core Styling
html {
	background-color: _palette(bg);
	scroll-behavior: smooth;
}

main, #MainGrid {
	margin: auto;
}

#MainGrid {
	display: grid;
	grid-template-columns: 1rem 1fr 2fr 2fr 1fr 1rem;
  	grid-template-rows: auto 100vh auto auto;
}

main {
  	grid-column: 2 / 6;
  	grid-row: 2 / 4;

	.sectionMedia {
		margin: 25rem 16.66%;
		/*overflow: hidden;*/
		padding: .02px;
	}

	.sectionText {
		margin: 0 16.66%;
	}
}

